
html {
	max-width: 100%;
	font-family: 'Roboto', 'arial', sans-serif;	
}

body {
	margin-left: 5px;
	padding: 0;
	max-width: 100%;
	min-height: 100vh;
}
fieldset {
	border: none;
} 
h2 {
	text-align: center;
}

.style-head {
	position: absolute;
	top:	31px;
	font-size: 36px;
	color: white;	
}

.container {
	display: flex;
}

.contact-form, .name-form, .civility-form, .age-form, .contact, .address-form, .profession-form, .msg, .box {
	margin: 10px;
	background-color: #d8e1e4;
	text-align: center;	
}

.card-address {
	border: #b0906c 1px solid;
	display: flex;
	flex-direction: column;
	width: 15%;
}
.map {
	text-align: left;
}

img {
	display: block;
    width: 100%;
    object-fit: cover;
}

iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media(max-width: 600px) {
	.card-address, img, h1 {
		display: none;
	}
	.contact-form {
		margin: auto;
	}
}


